body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* I really suck at css. Where's my beloved pastel when I need him :(( */

html {
    /*background: url(https://wallpaperaccess.com/full/2525116.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}


body {
    font-family: Arial, sans-serif;
    /*color: #190535; */
    background-color: #190535;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #190535; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.header {
    position: relative;
    background-color: #00000090;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://wallpaperaccess.com/full/2525116.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
    z-index: -1;
}

.logo h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.footer {
    position: relative;
    background-color: #00000090; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://wallpaperaccess.com/full/2525116.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
    z-index: -1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.plugin {
    background-color: #00000090; 
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.plugin h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.plugin p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: #e514be;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #444; 
}

.warning {
    font-weight: bold;
    margin-top: 10px;
    color: red;
}

.dep {
    font-weight: bold;
    margin-top: 10px;
    color: purple;
}

.credit {
    font-weight: bold;
    margin-top: 10px;
    color: cyan;
} 