.top-badge {
    display: inline-flex;
    align-items: center;
    align-self: center;
    margin-left: 8px;
    vertical-align: middle;
}

.badge-holder {
    background: var(--background-brand);
    color: var(--white);
    border-radius: 4px;
    padding: 0 4px;
    font-size: 0.625rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
    height: 16px;
    align-items: center;
}

.badge-holder > svg {
    display: inline-block;
    margin-inline-start: -2px;
    vertical-align: middle;
}